.success {
    color: #155724;
    background-color: #d4edda;
    display: flex;
    align-items: center;
    padding: 8px;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    display: flex;
    align-items: center;
    padding: 8px;
}

.hr{
    height: 1px;
}