<div *ngIf="shown" class="cont overflow-hidden w-100 h-100 position-fixed">
    <div class="w-100 backdrop h-100 overflow-hidden d-flex flex-row align-items-center justify-content-center">
        <div class="surround w-100 my-5 p-2">
            <mat-card class="p-2 card shadow">
                <mat-card-header class="mb-3 d-flex flex-row align-items-center justify-content-between">
                    <mat-card-title><span translate>CHANGE_PREF_LANGUAGE</span></mat-card-title>
                    <button (click)="close()" mat-icon-button>
                        <mat-icon class="mat-18">close</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <button (click)="setLocale(l)" class="me-2 mb-2" mat-flat-button *ngFor="let l of locales">
                        {{l | uppercase}}
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>